* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    background: #FFFFFF;
    color: #005FAC;
    padding: 21px 26px;
    border-radius: 5px;
}

/* Header or Banner Styles */

.header {
    background: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
    height: 800px;
}

.container {
    text-align: right;
    padding-right: 150px;
    padding-left: 780px;
    padding-top: 210px;
}

.header-titel {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;
    padding-left: 50px;
}

.header-description {
    color: #FFFFFF;
    margin-bottom: 24px;
    line-height: 26px;
}

/* previous of failures section */
.failure-section {
    display: flex;
    width: 1072px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.failure-image {
    padding-left: 110px;

}

.failure {
    padding-left: 87px;
    margin-top: 280px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-description {
    color: #444343;
    margin-bottom: 16px;
    line-height: 26px;
}

.icons {
    color: #444343;
    line-height: 24px;
}

.icons .fa-solid .fa-check {
    padding-right: 5px;
}

/* My plans Section */
.my-plans{
    
    padding: 0 250px;
}
.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;

}

.section-container {
    display: flex;
    gap: 70px;
    text-align: center;
}

.plan-title {

    font-weight: 700;
    font-size: 26px;
    color: #151414;
    margin-top: 16px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
    margin-top: 15px;
}

/* image gallary section */



/* background gradient section */

.backgound-gradient {

    padding: 0 180px;

}

.gradient {
    
    width: 1140px;
    height: 300px;
    margin-top: 130px;
    margin-bottom: 150px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url("../images/watch.png");
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
}

.gradient-title {
    padding-top: 59px;
    padding-left: 64px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.gradient-button {
    
    padding-left: 64px;
}

/* footer Styles */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 100px 150px;
}

.footer a {
    text-decoration: none;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
    line-height: 26px;
}

.footer-email {
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-number {
    color: #FFFFFF;
    margin-bottom: 16px;
}

.subscription-title {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    position: right;
    margin-bottom: 16px;
}

.footer input[type="email"] {
    background: black;
    color: #FFFFFF;
    border: 0.1px solid white;
    border-radius: 5px;
    width: 100%;
    padding: 12px;
}

.btn-secondery {
    font-weight: 500;
    font-size: 20px;
    background: #005FAC;
    color: #FFFFFF;
    padding: 15px 26px;
    border: 0;
    border-radius: 5px;
    margin-top: 16px;
}

/* footer copyright section style */

.copyright-section {
    text-align: center;
    width: 100%;
    height: 50px;
    background: #005FAC;
}

.copyright-title {
    color: #FFFFFF;
    padding-top: 16px;
}

.name-design {
    color: yellow;
    text-transform: uppercase;
    padding-left: 7px;
}